.opening{
    position: relative;
    margin-bottom: 40px;
    &__content{
        position: relative;
        display: flex;
        width: 1230px;
        padding: 0 15px;
        height: 800px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -86px;
        @include m-laptop{
            width: 1024px;
        }
        @include m-tablet{
            flex-direction: column;
            width: 768px;
            height: auto;
        }
        @include m-phone{
            width: 375px;
        }
    }
    &__item{
        width: 50%;
        height: 100%;
        @include m-tablet{
            width: 100%;
            height: auto;
        }
    }
    &__right{
        position: relative;
        padding-top: 182px;
        display: flex;
        z-index: 5;
        @include m-tablet{
            padding-top: 150px;
            margin-bottom: 30px;
        }
        &-content{
            width: 500px;
            @include m-tablet-wide{
                padding: 0 10px;
                width: 700px;
            }
        }
        &-title{
            margin-bottom: 24px;
        }
        &-subtitle{
            margin-bottom: 32px;
        }
        &-search{
            margin-bottom: 32px;
        }
        &-form{
            position: relative;
        }
        &-label{
            position: relative;
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            background: #fff;
            border: 1px solid #E0E3EB;
            border-radius: 32px;
        }
        &-target{
            display: block;
            margin-right: 16px;
            margin-left: 24px;
            @include m-phone{
                margin-right: 2px;
                margin-left: 2px;
            }
        }
        
        &-input{
            display: block;
            width: 304px;
        }
        &-btn{
            position: absolute;
            right: 4px;
            width: 110px;
            height: 48px;
            // background: #10B981;
            // border-radius: 32px;
            // padding: 13px 16px;
            // width: 110px;
            // font-family: 'Lexend';
            // font-style: normal;
            // font-weight: 600;
            // font-size: 14px;
            // line-height: 22px;
            // color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: -52px;
            
            @include m-phone{
                padding: 13px 12px;
                width: 100px;
            }
        }
        &-partners{}
        &-text{}
        &-row{
            display: flex;
            @include m-tablet{
                justify-content: center;
            }
            @include m-phone{
                flex-wrap: wrap;
            }
        }
        &-item{
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
            }
        }
        &-item:not(:last-child){
            margin-right: 32px;
            @include m-phone{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        &-link{
            @include m-phone{
                display: block;
                padding: 0 20px;
            }
            
        }
        &-linkpic{
            width: 82px;
            height: 64px;
        }
        &-vector{
            position: absolute;
            height: 494px;
            width: 439px;
        }
        &-vectorpic{
            //opacity: 0.3;
            filter: blur(60px);
            transform: rotate(90deg);
        }
    }
    
    &__left{
        position: relative;
        @include m-tablet{
            width: 768px;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
        }
        @include m-phone{
            width: 375px;
        }
        &-bg{
        position: absolute;
        width: 956px;
        height: 800px;
        border-radius: 0 0 0 80px;
        overflow: hidden;
        z-index: 1;
        @include m-tablet{
            width: 768px;
            height: auto;
        }
        @include m-phone{
            width: 375px;
        }
            &::before{
                content: "";
                z-index: 5;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%);
            }

        }
        &-content{
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            padding: 560px 20px 120px;
            @include m-tablet{
                padding: 460px 20px 120px;
            }
            @include m-phone{
                padding: 150px 20px 67px;
            }
        }
        &-slider{
            width: 1000px;
            @include m-tablet{
                width: 760px;
            }
            @include m-phone{
                width: 345px;
            }
        }
    }
    &__slide{
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 32px;
        display: flex;
        align-items: center;
        height: 120px;
        max-width: 330px;
        // margin-right: 16px;
        // width: auto;
        cursor: pointer;
        @include m-phone{
            margin-right: 0;
            max-width: 350px;
            width: 100%;
        }
        &-picture{
            position: relative;
            display: flex;
            align-items: center;
            margin-right: 16px;
        }
        &-pic{

        }
        &-img{
            
        }
        &-texts{
            display: flex;
            flex-direction: column;
        }
        &-title{
            margin-bottom: 6px;
        }
        &-subtitle{}
    }
    
}

.pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C57;
}
.card__subtitle{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #68799F;
}

.partners__text{
    font-size: 16px;
    line-height: 32px;
}

.subtitle__text{
    font-size: 16px;
    line-height: 28px;
}

.opening__title{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        text-transform: capitalize;
        color: #1B1C57;
}

.vector1{
    top: -162px;
    left: 74px;
    z-index: 1;
    @include m-tablet{
        top: -100px;
        left: 0;
    }
}

.vector2{
    // display: none;
    z-index: 1;
    top: -77px;
    left: -117px;
    @include m-tablet{
        top: -100px;
        left: 300px;
    }
}

.moveleft{
    margin-left: -28px;
}

.btn-green{ 
    background: #10B981;
    border-radius: 32px;
    padding: 13px 16px;
        
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @include m-phone{
        padding: 13px 12px;
        width: 100px;
    }
    &:hover{
        background: #0c6346;
    }
}


