.partnership{
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    @include m-tablet{
        margin-bottom: 60px;
    }
    @include m-phone{
        margin-bottom: 30px;
    }
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        &-subtitle{
            margin-bottom: 12px;
            display: flex;
            flex-direction: column-reverse;
            transform: translate(0);
            &::before{
                content: '';
                display: none;
                
            }
            &::after{
                content: "";
                display: flex;
                align-items: center;
                transform: scale(-1, -1);
                width: 32px;
                border: 1px solid #F59E0B;
                margin-bottom: 8px;
            }
        }
        &-title{
            margin-bottom: 24px;
            max-width: 420px;
            text-align: center;
        }
        &-btnlink{
            @include m-phone{
                width: auto;
            }
        }
    }
    &__content{
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        @include m-tablet{
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__offer{
        display: flex;
        flex-direction: column;
        width: 572px;
        @include m-laptop{
            width: 480px;
        }
        @include m-tablet{
            width: 600px;
        }
        @include m-phone{
            width: 100%;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include m-phone{
            flex-direction: column;
            align-items: center;
        }
        &-pic{
            width: 200px;
            height: 144px;
            margin-right: 32px;
            border-radius: 16px;
            overflow: hidden;
            @include m-phone{
                margin-bottom: 32px;
                width: 345px;
                height: auto;
                margin-right: 0;
            }

        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-dscr{
            display: flex;
            flex-direction: column;
            width: 340px;
        }
        &-owner{
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #3C4563;
        }
        &-ownerpic{
            height: 32px;
            width: 32px;
            margin-right: 16px;
        }
        &-title{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            text-transform: capitalize;
            color: #1B1C57;

            margin-bottom: 16px;
        }
        &-time{
            display: flex;
            align-items: center;
        }
        &-timer{
            width: 20px;
            height: 20px;
            margin-right: 14px;
        }
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }
    &__detail{
        width: 560px;
        display: flex;
        flex-direction: column;
        @include m-laptop{
            width: 480px;
        }
        @include m-tablet{
            width: 720px;
            margin-bottom: 32px;
        }
        @include m-phone{
            width: 100%;
        }
        &-pic{
            width: 100%;
            height: 280px;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 24px;
        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-owner{
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #3C4563;
        }
        &-ownerpic{
            width: 32px;
            height: 32px;
            margin-right: 16px;
        }
        &-title{
            margin-bottom: 12px;
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            text-transform: capitalize;
            color: #1B1C57;
        }
        &-text{
            margin-bottom: 16px;
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #626687;
            opacity: 0.75;
        }
        &-time{
            display: flex;
            align-items: center;
        }
        &-timer{
            width: 20px;
            height: 20px;
            margin-right: 14px;
        }
        &-date{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #888B97;
        }
    }
    
}

.vector5{
    width: 438px;
    height: 494px;
    position: absolute;
    left: -290px;
    top: -55px;
    z-index: -1;
    &-img{
        width: 100%;
        height: 100%;
        filter: blur(60px);
        transform: rotate(90deg);
    }
}

.vector6{
    width: 438px;
    height: 494px;
    position: absolute;
    left: -262px;
    top: 202px;
    z-index: 1;
    &-img{
        width: 100%;
        height: 100%;
        filter: blur(60px);
        transform: rotate(90deg);
    }
}