.footer{
    position: relative;
    margin: 0 auto;    
    &__container{
        position: relative;
        width: 1230px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;
        @include m-laptop{
            width: 1024px;
            padding-bottom: 60px;
        }
        @include m-tablet{
            padding-bottom: 30px;
            width: 768px;
            flex-direction: column;
            align-items: flex-start;
        }
        @include m-phone{
            width: 375px;
        }
    }
    &__media{
        max-width: 320px;
        @include m-tablet{
            margin-bottom: 24px;
            max-width: 600px;
        }
        @include m-tablet{
            max-width: 330px;
        }
        &-logo{
            margin-bottom: 16px;
            @include m-tablet{
                position: relative;
                top: 0;
                left: 0;
            }
        }
        &-dscr{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #626687;
            opacity: 0.75;
            margin-bottom: 24px;
            z-index: 5;
        }
        &-socials{
            display: flex;
            z-index: 5;
        }
        &-link{
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            z-index: 5;
        }
        &-link:not(:last-child){
            margin-right: 24px;
        }
    }
    &__row{
        display: flex;
        z-index: 5;
        @include m-tablet{
            width: 100%;
            justify-content: space-between;
        }
        @include m-phone{
            flex-direction: column;
        }
        &-item{
            max-width: 270px;
            z-index: 5;
        }
        &-item:not(:last-child){
            margin-right: 88px;
            @include m-tablet{
                margin-right: 0;
            }
            @include m-phone{
                margin-bottom: 24px;
            }
        }
        &-title{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #0E1735;
            margin-bottom: 24px;
        }
        &-text{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-transform: capitalize;
            color: #888B97;
        }
        &-text:not(:last-child){
            margin-bottom: 18px;
        }
    }
}

.vector7{
    right: -315px;
    top: -87px;
    z-index: -1;
}
.vector8{
    right: -69px;
    top: -22px;
    z-index: 1;
}