.header{
    position: relative;
    margin: 0 auto;
    z-index: 5;
    &__container{
        position: relative;
        width: 1230px;
        margin: 0 auto;
        padding: 40px 15px 0 15px;
        @include m-laptop{
            width: 1000px;
        }
        @include m-tablet{
            width: 768px;
        }
        @include m-phone{
            width: 375px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        @include m-phone{
            margin-bottom: 24px;
        }
        &-link{
            display: flex;
            align-items: center;
        }
        &-pic{
            margin-right: 12px;
        }
        &-text{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #1B1C57;
        }
    }
    &__menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include m-phone{
            flex-direction: column;
            height: 100%;
            padding: 80px 0 0 20px;
            margin: 0 auto;
            border-left: 2px solid #000;
            height: 100vh;
            background: #d5cdc4;
            width: 100vw;
            left: 0;
            transform: translateX(100%);
            margin-top: -40px;
            transition: 0.5s;
            position: absolute;
            z-index: 5;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        @include m-phone{
            flex-direction: column;
            margin-left: 40px;
        }

    }
    &__row{
        display: flex;
        margin-right: 56px;
        @include m-laptop{
            margin-right: 24px;
        }
        @include m-phone{
            margin-right: 0;
            margin-bottom: 24px;
            flex-direction: column;
        }
    }
    &__item{}
    &__item:not(:last-child){
        margin-right: 24px;
        @include m-tablet{
            margin-right: 0;
            margin-bottom: 24px;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 32px;
        padding: 8px 16px;
        @include m-tablet{
            border: 1px solid #047857;
        }
        &-pic{
            width: 7px;
            height: 14px;
            transform: rotate(90deg);
            @include m-tablet{
                stroke: #047857;
                fill: #047857;
            }
        }
    }
    &__burger{
        @include m-phone{
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 10;
        width: 50px;
        height: 50px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        }
    }
}



.menu-btn {
	width: 36px;
	height: 31px;
	padding: 5px;
	cursor: pointer;
	display: none;
    z-index: 15;
    position: relative;
    @include m-phone() {
        display: flex;
        align-self: center;
    }
	&__wrap {
		width: 26px;
		height: 21px;
		position: relative;
	}
	span {
		position: absolute;
		top: 50%;
		background-color: #57463A;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		border-radius: 0px;
		transition: transform 0.2s, opacity 0.2s, margin-top 0.2s;
        // Внутрь инклуда ложим параметры, которые будут юзаться для закрывашки бургера, только для спана!
        @include m-tablet() {
            
        }
		&:nth-child(1) {
			transform: translateY(-8px);
		}
		&:nth-child(2) {
			width: 17px;
		}
		&:nth-child(3) {
			transform: translateY(8px);
		}
	}
	&.actived {
		span {
			&:nth-child(1) {
				transform: translateY(0) rotate(-45deg);
			}
			&:nth-child(2) {
				width: 100%;
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(0) rotate(45deg);
			}
		}
	}
}




.menu-link{    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F0F3FD;
    transition: 0.4s;
    @include m-tablet{
        color: #047857;
    }
    &:hover{
        background: #4BE4C9;
    }
    @include m-phone{
        width: 160px;
    }
}

.signupBtn{
    display: flex;
    align-items: center;
    padding: 12px 24px;

    background: #D1FAE5;
    border-radius: 32px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #047857;
    transition: 0.4s;
    &:hover{
        color: #fff;
        background: #047857;
    }
    @include m-phone{
        width: 160px;
    }
}

.mr{
    margin-right: 10px;
}

.border{
    font-size: 40px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #1b1c57;
    -webkit-text-fill-color: #ffffff;
    font-family: Impact;
}

.show{
    transform: translateX(0);
}

