@font-face {
	font-family: lexend;
	font-display: swap;
	src: url("../fonts/lexend-v17-latin-500.woff2") format("woff2"), url("../fonts/lexend-v17-latin-500.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: lexend;
	font-display: swap;
	src: url("../fonts/lexend-v17-latin-600.woff2") format("woff2"), url("../fonts/lexend-v17-latin-600.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: lexend;
	font-display: swap;
	src: url("../fonts/lexend-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-v17-latin-regular.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
